services:
  postgres-customers:
    image: postgres:15
    environment:
      POSTGRES_DB: customers_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5433:5432"

  postgres-accounts:
    image: postgres:15
    environment:
      POSTGRES_DB: accounts_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5434:5432"
